@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  width: 500px;
  margin: 10px 80px 10px 10px;
}

.header h1 {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.header p {
  font-size: 15px;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
}

.box p {
  margin: 0;
}

.blue-box {
  background-color: hsl(248, 32%, 49%);
  padding: 20px;
  margin-bottom: 20px;
}

.form-control {
  position: relative;
  margin-bottom: 30px;
}

.form-control small {
  position: absolute;
  bottom: -20px;
  right: 0;
  text-align: right;
  opacity: 0;
}

input {
  border-radius: 5px;
  border: 2px solid hsl(246, 25%, 77%);
  display: block;
  width: 100%;
  padding: 15px 25px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

input:active {
  border: 1.3px solid hsl(248, 32%, 49%);
  outline: none;
}

button {
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
  border: 1px solid hsl(154, 59%, 45%);
  box-shadow: 0 2px hsl(154, 59%, 45%);
  color: white;
  padding: 15px 25px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: block;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

button:hover {
  box-shadow: 0 0 hsl(154, 59%, 45%);
  transform: translateY(2px);
}

small {
  display: block;
  color: red;
  font-size: 11px;
  margin-top: 15px;
  font-style: italic;
}

form p {
  color: hsl(246, 25%, 77%);
  font-size: 11px;
  margin-top: 10px;
}

form span {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
  font-weight: 600;
}

.error {
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border: 2px solid red;
}

.success {
  border: 2px solid hsl(154, 59%, 51%);
}

@media (max-width: 900px) {
  body {
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: white;
    margin: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    width: 350px;
    margin: 10px;
    padding: 30px 10px;
    text-align: center;
  }

  .header h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .box {
    padding: 30px;
  }

  .box p {
    padding: 5px;
  }

  .form-control {
    margin-bottom: 20px;
  }

  .container2 {
    margin-bottom: 50px;
  }
}
